<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaidarCFDI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICancelaCFDBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="SAT.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
            <endpoint address="https://cancelacion.facturaelectronica.sat.gob.mx/Cancelacion/CancelaCFDService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelaCFDBinding"
                contract="CanSAT.ICancelaCFDBinding" name="BasicHttpBinding_ICancelaCFDBinding" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <VaidarCFDI.Properties.Settings>
            <setting name="VaidarCFDI_SATWS_ConsultaCFDIService" serializeAs="String">
                <value>https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc</value>
            </setting>
        </VaidarCFDI.Properties.Settings>
    </applicationSettings>
</configuration>